/*fonts*/
@font-face{
  font-family: 'PT_Sans-Bold';
  src: url('../fonts/PT_Sans-Bold.ttf');
}
@font-face{
  font-family: 'PT_Sans-Regular';
  src: url('../fonts/PT_Sans-Regular.ttf');
}



/* Base */
body{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix{
  clear: both;
}

.logo{
  text-decoration: none;
  font-family: 'PT_Sans-Bold', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #000;
}
.logo-icon{
  position: relative;
  margin-left: 50px;
}
.logo-icon:before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50px;
  display: inline-block;
  width: 43px;
  height: 43px;
  background-image: url('../img/logo.png');
  transform: translateY(50%);
}

/* Header */

header{
  background: #fcdb00;
}
header .container{
  min-height: 100vh;
}
header .top{
  padding: 50px 0;
}
header .top .main-page,
header .top .links{
  float: left;
  width: 50%;
  text-align: left;
}
header .top .links{
  text-align: right;
}
header .top .links a{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #010101;
  text-decoration: none;
  margin-right: 30px;
}
header .top .links a:last-child{
  margin-right: 0;
}
header .middle{
  margin: 20px 0;
  min-height: 50vh;
}
header .middle .left,
header .middle .right{
  float: left;
  width: 50%;
  position: relative;
}
header .middle .left{
  margin: 75px 0;
}
header .middle .left .title{
  margin-top: 0;
  font-family: 'PT_Sans-Bold', sans-serif;
  font-size: 32px;
  line-height: 32px;
}
header .middle .left .subtitle{
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #313841;
}
header .middle .left .subtitle-2{
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #555555;
}
header .middle .right{
  text-align: center;
}
header .middle .device{
  max-width: 320px;
}
header .middle .left .store-buttons{
  text-align: center;
  margin-top: 20px;
}
header .middle .icon{
  display: inline-block;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 31px;
  position: relative;
  margin: 0 20px;
}
header .middle .i-apple{
  background-position: -10px -190px;
}
header .middle .i-android{
  background-position: -209px -117px;
}
header .middle .i-windows{
  background-position: -209px -66px;
}
header .bottom{
  min-height: calc(25vh - 50px);
  position: relative;
}
header .bottom .slider{
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
header .bottom .slider .indicator{
  display: inline-block;
  background: rgba(255, 255, 255, 0.6);
  height: 16px;
  width: 16px;
  border-radius: 10em;
}
header .bottom .slider .indicator.active{
  background: rgba(255, 255, 255, 1);
}

/* Main */

main{
  background: #ffffff;
  text-align: center;
}
main .top{
  padding-top: 50px;
}
main .top .title{
  font-family: 'PT_Sans-Bold', sans-serif;
  font-size: 32px;
  line-height: 32px;
}
main .top .subtitle{
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  color: #313841;
}
main .featured{
  padding: 80px 0;
}
main .featured .row .item .title{
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 22px;
  line-height: 24px;
}
main .featured .row .item .content{
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
}
main .featured .row .item{
  text-align: left;
  float: left;
  width: 31%;
  margin-right: 20px;
  margin-bottom: 40px;
}
main .featured .row .item:nth-child(3n){
  margin-right: 0;
}
main .featured .row .icon{
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background-position: -5px -51px;
}
main .featured .row .i-resp{
  background-position: -153px -73px;
}
main .featured .row .i-psd{
  background-position: -10px -70px;
}
main .featured .row .i-font{
  background-position: -73px -70px;
}
main .featured .row .i-html{
  background-position: -81px -10px;
}
main .featured .row .i-templ{
  background-position: -10px -10px;
}
main .featured .row .i-free{
  background-position: -153px -10px;
}
main .featured .row .text{
  margin: 0 10px;
  float: left;
  width: 68%;
}
main .bottom {
  position: relative;
  padding: 20px;
}
main .bottom .page-buttons ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .bottom .page-buttons li{
  float: left;
  margin-right: 10px;
}
main .bottom .page-buttons li:last-child{
  float: left;
  margin-right: 0;
}
main .bottom a{
  color: #000000;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
}

/* Footer */

footer{
  background: #010101;
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 90px 0;
}
footer .top{
  width: 85%;
  margin: 0 auto;
}
footer .top .title{
  color: #fcdb00;
  font-family: 'PT_Sans-Bold', sans-serif;
  font-size: 32px;
  line-height: 32px;
}
footer .top .subtitle{
  color: #666666;
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 20px;
  line-height: 24px;
}
footer .middle .social-links{
  padding: 50px 0;
}
footer .middle form{
  width: 85%;
  margin: 0 auto;
  margin-top: 35px;
}
footer .middle input[type=email]{
  font-family: 'PT_Sans-Regular', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
  width: 70%;
}
footer .middle input[type=submit]{
  font-family: 'PT_Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #010101;
  background: #fcdb00;
  border: 2px solid #010101;
  padding: 20px 36px;
  border-radius: 5px;
  margin: 0 10px;
}
footer .bottom{
  padding: 100px 0;
}
footer .bottom .location{
  float: left;
  width: 33%;
  text-align: left;
  padding-right: 108px;
  box-sizing: border-box;
}
footer .bottom .location ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .bottom .location .phone a,
footer .bottom .location .mail a{
  line-height: 19px;
  text-decoration: none;
  color: #fff;
}
footer .bottom .site-navigation{
  float: left;
  width: 66%;
}
footer .bottom .item{
  float: left;
  width: 25%;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 70px;
  box-sizing: border-box;
}
footer .bottom .item:last-child{
  margin-right: 0;
}
footer .bottom .item a{
  float: left;
  clear: both;
  color: #ffffff;
  text-decoration: none;
}
footer .middle .icon{
  display: inline-block;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin: 0 16px;
}
footer .middle .i-facebook{
  background-position: -10px -134px;
}
footer .middle .i-twitter{
  background-position: -209px -10px;
}
footer .middle .i-google_plus{
  background-position: -66px -134px;
}
footer .middle .i-pinterest{
  background-position: -122px -134px;
}


/* Media */
@media (max-width: 720px) {
  header .top .main-page,
  header .top .links{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  header .middle .left,
  header .middle .right{
    text-align: center;
    float: left;
    width: 100%;
  }
  header .device{
    display: none;
  }
  main .featured .row .item{
    width: 100%;
    margin-right: 0;
  }
  footer .bottom .location{
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
  }
  footer .bottom .site-navigation{
    width: 100%;
  }
}
@media (max-width: 540px) {
  header .top{
    padding-bottom: 0;
  }
  header .top .links a{
    display: block;
    margin-right: 0;
  }
  footer .bottom .site-navigation .item{
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  footer .bottom .site-navigation .item a{
    width: 100%;
  }
}
