/*fonts*/
@font-face{
  font-family: 'Klavika';
  src: url('../fonts/Klavika_Regular.otf');
  font-size: 16px;
  font-weight: normal;
}

/* main */
body{
  background: url('../img/body-bg.gif');
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul a{
  user-select: none;
}
.header{
  text-align: center;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.clearfix{
  clear: both;
}

/* header */
.menu{
  display: inline-block;
}

.menu .item{
  font-family: 'Klavika', sans-serif;
  position: relative;
  width: 100px;
  height: 50px;
  background: #363636;
  background-image: url('../img/menu-bg.png');
  float: left;
  /* inset shadow */
  box-shadow: inset 0px -20px 31px -9px rgba(0,0,0,0.75);
  /* separators */
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 10px solid #00aae9;
  transition: 0.1s linear;

}
.menu .item:first-child{
  border-left: 0;
}
/* border-radius nav */
.menu .item:first-child{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.menu .item:nth-child(4){
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 10px solid #f7941d;
}

.menu .item:nth-child(2){
  border-bottom: 10px solid #c2d900;
}
.menu .item:nth-child(3){
  border-bottom: 10px solid #ffdd00;
}
.menu .item:hover{
  box-shadow: inset 0px 0px 30px 12px rgba(0,0,0,0.75);
}
.menu .item a:hover{
  text-shadow: 0px 0px 9px rgba(255,221,0,0.5);
}
.menu .item:nth-child(2):hover .sub-menu{
  visibility: visible;
}

.menu .sub-menu{
  padding-top: 10px;
  z-index: 2;
  position: absolute;
  top: 50px;
  background-image: url('../img/sub-menu-bg.png');
  background-position: -4px -4px;
  visibility: hidden;
  box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.75);
}
.menu .sub-menu:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: 100%;
  z-index: 3;
  background: #c2d900;
}
.menu .sub-item{
  font-size: 14px;
  position: relative;
  width: 100px;
  height: 30px;
  z-index: 2;
  /* separators */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.menu .sub-item:first-child{
  border-top: 0;
}
.menu .sub-item:last-child{
  border-bottom: 0;
}
.menu .sub-item:hover{
  box-shadow: inset 0px 0px 16px 5px rgba(0, 0, 0, 0.4);
}

.menu .sub-item a:hover{
  text-shadow: 0px 0px 9px rgba(255,221,0,0.5);
  color: #efefef;
}
.menu .item a{
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  text-decoration: none;
}
.menu .sub-menu a{
  color: #8b8b8b;
}
